.container{
    max-width: 330px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block{
    display: block;
}